@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000;
}


body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background: #fff !important;
}

.all-center {
    @apply flex text-center justify-center items-center
}

.logo {
    max-width: 150px;
}

.router-link-exact-active {
    font-weight: 500;
    color: #000;
}

.router-link-active {
    border-bottom: none !important;
}

.nuxt-link {
    color: #888;
    margin: 4em !important;
    font-size: 1.2em;
}

.dropdown-fade-enter-active {
    transition: all 0.3s ease-in;
}

.dropdown-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.dropdown-fade-enter-from,
.dropdown-fade-leave-to {
    transform: translateY(-45px);
    opacity: 0;
}

.list-enter-active,
.list-leave-active {
    transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateX(50px);
}






